<!-- templates/post_edit.html -->

{% extends 'base.html' %}

{% block content %}

    <h1>Edit Post</h1>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>

{% endblock content %}